<div class="container">
    <div class="header-wrapper">
        <!-- <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo/logo.png" alt="logo">
            </a>
        </div> -->
        <ul class="menu">
            <li>
                <a href="index.html">home</a>
            </li>
            <!-- <li>
                <a href="movie-list.html">movies</a>
                <ul class="submenu">
                    <li>
                        <a href="movie-checkout.html">Movie Checkout</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li>
                <a href="theater-grid.html">theaters</a>
            </li> -->
            <!-- <li>
                <a href="about.html">about</a>
            </li>
            <li>
                <a href="contact.html">contact</a>
            </li> -->
            <li class="header-button pr-0">
                <a href="sign-up.html">join us</a>
            </li>
        </ul>
        <div class="header-bar d-lg-none">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>