<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h6 {
            height: 93.6px;
        }
    </style>
</head>
<body>
    <div class="item">
        <div class="movie-grid">
            <div class="movie-thumb c-thumb">
                <a>
                    <img src="{{movieImage}}" alt="movie">
                </a>
            </div>
            <div class="movie-content bg-one">
                <h6 class="title m-0">
                    <a>{{movieTitle}}</a>
                </h6>
                <ul class="movie-rating-percent">
                    <li>
                        <div class="thumb">
                            <img src="../assets/images/movie/cake.png" alt="movie">
                        </div>
                        <span class="content">{{rating}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>