<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="movie-review-item">
        <div class="author">

            <div class="movie-review-info">
                <span class="reply-date">{review-date}</span>
                <h6 class="subtitle"><a href="#0">{author-name}</a></h6>
                <span><i class="fas fa-check"></i> verified review</span>
            </div>
        </div>
        <div class="movie-review-content">
            <div class="review">
                <i class="flaticon-favorite-heart-button"></i>
                <i class="flaticon-favorite-heart-button"></i>
                <i class="flaticon-favorite-heart-button"></i>
                <i class="flaticon-favorite-heart-button"></i>
                <i class="flaticon-favorite-heart-button"></i>
            </div>
            <!-- <h6 class="cont-title">Awesome Movie</h6> -->
            <p>{review-content} </p>
            <div class="review-meta">
                <a href="#0">
                    <i class="flaticon-hand"></i><span>8</span>
                </a>
                <a href="#0" class="dislike">
                    <i class="flaticon-dont-like-symbol"></i><span>0</span>
                </a>
                <a href="#0">
                    Report Abuse
                </a>
            </div>
        </div>
    </div>
</body>

</html>